.App {
  text-align: center;
  background-image: url(./assets/images/asf/background1.jpg);
}

.App-logo {
  height: 40vmin;
  z-index: 1;
  border-radius: 21px;
  margin-top: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #09d3ac;
  z-index: 1;
}

.App-background-video{
  width: 2000px !important;
  height: 2000 !important;
  float: left;
  top: 0;
  padding: none;
  opacity: 0.2;
  position: fixed;
  z-index: 0;
}

.App-donate-btn{
  width: 60%;
  border-radius: 100px !important;
  background: #50c878 !important;
}
